<!DOCTYPE html>
<head>
  <title>Home - AFL Monitoring</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.gif" />
</head>
<body>
   
    <nav class="navbar" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AFL Monitoring</a>
    </div>
    <ul class="nav navbar-nav" style="float: right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Live Inference</a></li>
      <li><a href="">Video Stream</a></li>
      <li><a href="/auxiliary-sensors">Auxiliary Sensors</a></li>
      <li><a href="/database-">Database</a></li>
      <li><a href="/about-project">About Project</a></li>
    </ul>
  </div>
</nav>
</body>
